<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
 
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

  <p>
    <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-secondary" %> 
    <%= link_to 'Back', users_path, class:"btn btn-dark" %>
  </p>