<h4>show posts</h4>


<div class="d">
    <strong>Title:</strong>
    <%= @post.title%>
</div>

<div class="d">
    <strong>Description:</strong>
    <%= @post.description%>
</div>

<%= link_to 'back', posts_path, class:"btn btn-info" %>
